* {
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 700;
}

body {
    margin: 0;
    border: 1px solid black;
}

:root {
    --primary-color: #23A6F0;
    --primary_text-color: #252B42;
    --primary_paragrph-color: #737373;
    --hero_banner-color: #b2e3ff;
    --primary_block_div-color: #E74040;
    --button_text_color: #fff;
    --primary_navbar_color: #737373;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 550;
    letter-spacing: 0.2px;
    color: var(--primary_paragrph-color)
}

h6 {
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    letter-spacing: 0.2px;
}

h1 {
    color: var(--primary_text-color);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--primary_text-color);
}

.btn {
    font-weight: 700;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    border: none;
    padding: 15px 25px;
    color: var(--button_text_color);
    background-color: var(--primary-color);
}

.container {
    max-width: 1050px;
    margin: auto;
    padding: 0px 20px;
}

/* header_section */


header {
    margin: auto;
    background-color: #ffffff;
    padding: 15px 0px;
}

.header .container {
    display: flex;
    align-items: center;

}

.title_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandName {
    font-size: 24px;
    color: var(--primary_text-color);
    padding: 10px 10px 10px 0px;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 21px;
    font-size: 14px;
}

.nav_bar ul a {
    text-decoration: none;
    color: var(--primary_navbar_color)
}

.blank_btn {
    background-color: transparent;
    color: var(--primary-color);
}

.filled_btn {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.filled_btn i {
    font-size: 14px;
}

/*hero_section */

.hero {
    background-color: var(--hero_banner-color);
    padding: 80px 0px;
}

.container {
    display: flex;
    justify-content: space-evenly;

}

.hero_heading {
    max-width: 599px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.hero_heading h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--primary-color);
}

.hero_heading h1 {
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;

}

.hero p {
    font-size: 20px;
    line-height: 30px;
    max-width: 376px;
    color: var(--primary_paragrph-color);
}

.unfilled_btn {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 15px 40px;
}

.hero_btn .filled_btn {
    padding: 15px 40px;
}

.hero_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

}

/* facilities*/

.facilities {
    padding: 50px 0px 50px 0px;
}

.facilities .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px
}

.card {
    padding: 35px 40px;
    max-width: 328px;
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.card_icon {
    width: 70px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h1 {
    color: var(--primary_text-color);
    font-size: 16px;
    line-height: 24px;
}

.card_icon i {
    font-size: 25px;
    color: #ffffff;
}

.card p::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #E74040;
    display: inline-block;
}

.card p {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* performance */

.performance .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0px;
}

.perform_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 381px;
    padding: 30px 0px 30px 40px;
}

.perform_content p {
    max-width: 351px;
}

.perform_content h2 {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.perform_content h6 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.perform_content h2::before {
    content: "";
    width: 94px;
    height: 7px;
    display: inline-block;
    background-color: #E74040;
}

.perform_content {
    font-size: 20px;
}

/* product */
.product {
    padding: 110px 0px;
}


.product .container {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.heading_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading_content p {
    max-width: 469px;
}


/* product card */

.product_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product_items .card_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card_items {
    display: flex;
    flex-direction: row;
}

.product_label {
    top: 20px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    background-color: #E74040;
    position: absolute;
}

.product_label label {
    align-items: center;
    color: #ffffff;

}

.card_image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.pro_card_icon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 20px;
    gap: 10px;
}

.pro_card_icon button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    background-color: #fff;
    width: 40px;
    height: 40px;
    align-items: center;
    border: none;
}

.solid i {
    font-size: 15px;
}

.card_features .rating_icon {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 50px;
    height: 25px;
    padding: 5px;
    gap: 5px;
    background-color: var(--primary_text-color)
}

.card_features .rating_icon i {
    font-size: 12px;
    color: #FFCE31;
}

.card_features .rating_icon small {
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}

.card_features h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_features a {
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card_features .price {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #BDBDBD;
}

.price span {
    color: #40BB15;
}

.small_icon h6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.small_icon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.small_icon small {
    color: #737373;
    font-size: 12px;
    font-weight: 550;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.small_icon h6 .prop {
    color: #23A6F0;
}

.small_icon h6 .prop.a {
    color: #E77C40;
}

.product_btn .btn {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid #23A6F0;
    padding: 10px 20px;
}

.product_btn .btn h6 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product_btn .btn i {
    font-size: 15px;
}

.card_features {
    gap: 20px;
    padding: 25px 25px 35px;
    display: flex;
    flex-direction: column;
}


/* pricing */
.pricing {
    padding: 110px 0px;
}

.pricing .container {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.pricing .heading_content {
    align-items: baseline;
}

/* pricing card */

.subscrib_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.wish_icon {
    height: 90px;
    width: 90px;
    background-color: #40BB15;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wish_icon i {
    font-size: 40px;
    color: #ffffff;
}

.pricing_details {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 100px 40px 50px;
    box-shadow: 0px 13px 19px 0px #00000012;
    position: relative;
}

.pricing_details h3 {
    font-size: 23px;
    line-height: 32px;
    color: var(--primary_text-color)
}

.pricing_details h6 {
    max-width: 205px;
    color: var(--primary_paragrph-color);
}

.pricing_details p {
    max-width: 200px;
}

.sub_price {
    font-size: 40px;
    line-height: 50px;
    color: var(--primary-color)
}

.sub_price h6 {
    color: #8EC2F2;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.features .spec {
    display: flex;
    align-items: center;
    gap: 10px;
}

.features .spec i {
    color: var(--primary-color);
    font-size: 35px;
}

.features .spec.a i {
    color: #BDBDBD;
}

.features h6 {
    color: var(--primary_text-color);
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 95px;
    height: 95px;
    background-color: #E77C40;
    border-radius: 200px;
    top: 0px;
    right: -20px;
}

.new {
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
}


/* testimoniels */

.testimoniels .container {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.testimoniels {
    padding: 160px 0px 90px 0px;
}

.testimoni {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.box img {
    width: 128px;
    height: 128px;
    border-radius: 200px;
}

.testimoni_content p {
    max-width: 320px;
    text-align: center;
}

.testimoni_content .rating_star {
    display: flex;
    gap: 5px;
    color: #F3CD03;
}

.testimoni_content .name_desgin {
    max-width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.testimoni_details {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    align-items: center;
}

.testimoni_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.testimoni_content .name_desgin h5 {
    max-width: 155px;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
    letter-spacing: 0.2px;
}

.testimoni_content .name_desgin h6 {
    color: #737373;
}

/* section_6 */

.subscribtion {
    background-color: #FFDCD1;
}

.subscribtion .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 160px 0px;
    gap: 80px;
}

input {
    padding-left: 10px;
}

::placeholder {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 550;
    padding-left: 20px;
    color: var(--primary_navbar_color)
}

form {
    display: flex;
    align-items: center;
    width: 690px;

}

.gmail .mail_box {
    height: 59px;
    flex: 1;
    border: none;
    outline: none;
}

form .btn {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;

}

/* footer */


.footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 0px;

}

.foot_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot_list .list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.foot_list h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--primary_text-color);
}

.foot_list h5 a {

    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 14px;
    text-decoration: none;
    color: var(--primary_paragrph-color);

}

.social_media {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.social_icon {
    display: flex;
    gap: 25px;
    font-size: 25px;
}

.social_icon a {
    color: var(--primary-color);
}

/* copywrights */


.copywright {
    background-color: #FAFAFA;
}

.copywright .container {
    display: flex;
    align-items: center;
}

.rights h6 {
    color: #737373;
    display: flex;
    align-items: center;
    padding: 25px 0px;
}





@media screen and (max-width:920px) {

    .product_items {
        grid-template-columns: repeat(2, 1fr);
    }

    .card_item {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .testimoniels {
        padding: 20px 0px;
    }

    .pricing {
        padding: 20px 0px;
    }

    .product {
        padding: 20px 0px;
    }

}



@media screen and (max-width:780px) {

    .nav_bar ul {
        display: none;
    }

    .brandName {
        flex: 1;
    }

    .btn {
        font-size: 12px;
        line-height: 15px;
        padding: 10px 10px;
    }

    .filled_btn i {
        font-size: 10px;
    }

    .filled_btn {
        gap: 10px;
    }

    .nav_bar {
        justify-content: end;
    }

    .hero .image {
        display: none;
    }

    .hero_heading {
        text-align: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .hero_heading h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .hero p {
        font-size: 14px;
        line-height: 20px;
    }

    .hero_heading h5 {
        font-size: 10px;
    }

    .hero {
        padding: 20px 0px;
    }

    .hero_btn .filled_btn {
        padding: 11px 15px;
    }

    .performance .image {
        display: none;
    }

    .perform_content h2::before {
        display: none;
    }

    .performance .container {
        padding: 20px 0px;
        justify-content: center;
    }

    .perform_content {
        max-width: 100%;
        align-items: center;
        padding: 0px;
    }

    .footer_grid {
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .gmail .mail_box {
        height: 50px;
    }

    form {
        width: 500px
    }

    .subscribtion .container {
        padding: 80px 0px;
    }

    .heading_content {
        gap: 0px;
    }

    h2 {
        font-size: 30px;
    }

    h6 {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }

    .perform_content {
        gap: 5px;
    }

    header {
        padding: 0px;
    }

}


@media screen and (max-width:680px) {

    .facilities .container {
        grid-template-columns: repeat(1, 3fr);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .product_items {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product .container {
        text-align: center;
    }

    .pricing .heading_content {
        align-items: center;
        text-align: center;
    }

    .pricing .heading_content {
        align-items: center;
    }

    .testimoni {
        grid-template-columns: repeat(1, 1fr);
    }
    .testimoniels .container{
        text-align: center;
    }

    .pricing_details {
        padding: 50px 100px;
    }

    .subscrib_card {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media screen and (max-width:530px) {

    .hero_heading {
        gap: 15px;
    }

    .perform_content h2 {
        text-align: center;
    }

    .perform_content p {
        text-align: center;
    }

    .heading_content {
        text-align: center;
    }

    .card_features {
        gap: 30px;
    }

    .pricing_details {
        padding: 50px;
    }

    .testimoni {
        gap: 0px;
    }

    .subscribtion .container {
        gap: 20px;
    }

    form {
        width: 300px;
    }

    .gmail .mail_box {
        height: 31px;
    }

    form .btn {
        line-height: 10px;
        font-size: 10px;
    }

    .foot_list h3 {
        font-size: 30px
    }

    .footer_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .performance .container {
        padding: 50px 0px;
    }

    p {
        font-size: 8px;
    }

    .card_features {
        gap: 15px;
    }


}