* {
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 700;
}

body {
    margin: 0;
}

:root {
    --primary-color: #23A6F0;
    --primary-text-color: #252B42;
    --secondary-text-color: #737373;
    --homepage_banner-color: #b2e3ff;
    --primary_line_block-color: #E74040;
}

img {
    width: 100%;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
}

header {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 12px;
}

.container {
    max-width: 1050px;
    margin: auto;
}

.title_bar {
    display: flex;
    align-items: center;
    gap: 21px;
}

.brandName {
    font-size: 24px;
    color: var(--primary-text-color);
    padding: 10px;
}

.nav_bar {
    display: flex;
    padding: 5px;
    gap: 250px;
    align-items: center;
}

.nav_bar ul {
    display: flex;
    list-style: none;
    gap: 21px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.title_btns {
    display: flex;
    gap: 10px;

}

button {
    padding: 15px 25px 15px 25px;
}

.blank_btn {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
}

.filled_btn {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: var(--primary-color);
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
}

.filled_btn i {
    font-size: 12px;
}

.homePage {
    background-color: var(--homepage_banner-color);
}

.container_home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--homepage_banner-color);
    max-width: 1300px;
    margin: auto;
}

.content {
    max-width: 599px;
    display: flex;
    flex-direction: column;
    padding: 80px 0px 80px 45px;
    gap: 35px;
}

.content h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--primary-color);
}

.content h1 {
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: var(--primary-text-color);
}

.container_home p {
    font-weight: 550;
    font-size: 20px;
    line-height: 30px;

}

.unfilled_btn {
    width: 165px;
    background: none;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homePage_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.homePage_cards .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.container {
    margin: auto;
    max-width: 1040px;
}

.card {
    padding: 35px 40px;
    max-width: 328px;
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.card_btn {
    max-width: 70px;
    border-radius: 10px;
    padding: 22px 19px;
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
}

.card h1 {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 24px;
}

.card p {
    font-size: 14px;
    line-height: 20px;
}

button i {
    font-size: 25px;
}

.line_block {
    background-color: var(--primary_line_block-color);
    width: 50px;
    height: 2px;
    color: #E74040;
}

.layout2_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0px;
}

.layout2_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 381px;
    padding: 30px 0px 30px 40px;
}

.layout2_content p {
    max-width: 351px;
    font-size: 14px;
    line-height: 20px;
}

.layout2_content h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--primary-text-color);
}

.layout2_content h6 {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.layout2_content .line_block {
    width: 94px;
    height: 7px;
    color: var(--primary_line_block-color);
}

.layout2_content i {
    font-size: 20px;
}

/* layout_3 */



.layout3_content {
    max-width: 691px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.layout3_content h6 {
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
}

.layout3_content h2 {
    font-size: 30px;
    line-height: 50px;
    color: var(--primary-text-color);
}

.layout3_content p {
    max-width: 469px;
}

.card_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card_item {
    display: flex;
    flex-direction: column;
}

.sale_logo {
    width: 51px;
    height: 24px;
    top: 20px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    background-color: #E74040;
    position: absolute;
}

.sale_logo h6 {
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;

}

.card_image {
    position: relative;
}

.layout3_cart_items {
    display: flex;
    flex-direction: column;
    gap: 112px;
    padding: 112px 0px 112px 0px;
}

.layout3_poster {
    display: flex;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 25px 35px 25px;
}

.icon {
    display: flex;
    position: absolute;
    gap: 10px;
    bottom: 40px;
    left: 80px;
    font-size: 24px;
}

.solid i {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.card_content h6 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.card_content .filled_btn {
    border-radius: 20px;
    max-width: 50px;
    padding: 5px;
    gap: 5px;
    background-color: var(--primary-text-color);
}

.rating_text {
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}

.card_content i {
    color: #FFCE31;
}

.card_content h1 {
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
}

.card_content p {
    font-size: 14px;
    line-height: 20px;
}

.card_content h3 i {
    color: var(--secondary-text-color);
}

.card_content h3 {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 24px;
}

.card_content .prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card_content .prices .amt_1 {
    line-height: 24px;
    color: #BDBDBD;
}

.card_content .prices .amt_2 {
    line-height: 24px;
    color: #40BB15;
}

.small_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.small_icon p {
    font-size: 12px;
    line-height: 16px;
}

.small_icon .property {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.small_icon .property i {
    color: var(--primary-color);
}

.property.a i {
    color: #E77C40;
}
.lay3.unfilled_btn{
    border-radius: 37px;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lay3.unfilled_btn i{
    color: var(--primary-color); 
    font-size: 20px;   
}