*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}

header{
margin: auto;
display: flex;
justify-content: center;
background-color: #ffffff;
}

ul li{
    text-decoration: none;
    list-style: none;
}
.title_bar{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 21px;
}
 h3{
    font-size: 24px;
    color:#252B42;
    padding: 10px;
 }
 .nav_bar ul {
    display: flex;
    gap: 21px;
    font-size: 14px;
 }
 