*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 700;
}

header{
margin: auto;
display: flex;
justify-content: center;
background-color: #ffffff;
}
.title_bar{
    display: flex;
    align-items: center;
    gap: 21px;
    padding: 10px 160px;
}
.brandName{
    font-size: 24px;
    color:#252B42;
    padding: 10px;
}
.nav_bar{
    display: flex;
    padding: 5px;
    gap: 250px;
    align-items: center;
}
.nav_bar ul{
    display: flex;
    list-style: none;
    gap: 21px;
    font-size: 14px;
    }
a{
    text-decoration: none;
    color: #737373;
    
   } 
.title_buttons{
    display: flex;
    gap: 10px;
}
button{
    padding: 15px 25px 15px 25px;
}
.blank_btn{
    background-color: transparent;
    border: 0;
    color: #23A6F0;
}
.filled_btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #23A6F0;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
}
.homePage{
    background: #B2E3FF;
}
.homePage .container{
    display: flex;

}
 /* .filled_btn.a::after{
    content: "\e941";
    font-family:material symbols outlined;
    font-size: 26px;
} */
