



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
.brand{
    
    color: rgb(37, 43,66,1);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.container_1{
    display: flex;
}
 ul{
    display: flex;
    list-style-type: none;  
    margin: 0;
    padding: 0;
    gap: 10px;
    color: rgba(115, 115, 115, 1);
    
}
a {
    text-decoration: none;
}
